/* /* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400&display=swap');



body {
    font-family: Poppins;
    background-color: black;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;


}

/*---header--

header {
    background-color: rgb(255, 255, 255);
    position: sticky;
    top: 0px;
    width: 100%;
}



/*----------------------main----------------------------

main {
    background-color: black;
}

.maxpoke {
    text-align: center;
    height: 100vh;
    background-image: url(../img/fondo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.maxpoke h1 {
    font-size: 130px;
    color: white;
    padding-top: 40px;
    margin: 0px;
    
}

.maxpoke a {
    font-size: 30px;
    margin-top: 150px;
}


.maxpoke div {
    display: flex;
    justify-content: center;
} 


.nosotros {
    font-size: 20px;
    color: white;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.boton {
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 20px;
}

.boton a {
    text-decoration: none;
    color: white;
    margin: 2px;
    padding: 2px;
    border: solid white;
}


.productosdestacados div {


    border: 1px solid grey;
    width: 200px;
    height: 350px;
    margin: 20px;
    color: black;
    text-align: center;
    text-decoration: none;
    background-color: white;
}

.productosdestacados {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    margin-left: 50px;
    margin-right: 50px;
    overflow-x: auto;
    place-items: center;
}


.productosdestacados div img {
    width: 198px;
    height: 200px;
}

.p1 a {
    text-decoration: none;
}

.p2 a {
    text-decoration: none;
}

.p3 a {
    text-decoration: none;
}

.p4 a {
    text-decoration: none;
}

.p5 a {
    text-decoration: none;
}

.p6 a {
    text-decoration: none;
}*



.galeriaTitulo h3 {
    font-size: 30px;
    display: flex;
    justify-content: center;
    color: white;



}


.GaleriaPrincipal div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.GaleriaPrincipal {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 250px;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    margin: 0px 50px 20px 50px;
}/*


/*----------------locales--------------*/
/* .locales h2 {
    display: flex;
    justify-content: space-around;
    color: white;
    margin: 50px;
}


.grid {
    margin-bottom: 30px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;


}

.local1 {
    display: flex;
    justify-content: center;

}

.local2 {
    display: flex;
    justify-content: center;

}

.local3 {
    display: flex;
    justify-content: center;

}

.local4 {
    display: flex;
    justify-content: center;

} */

/*-------------pedidoonline-------------------*/
/* 
.video {
    margin-top: 30px;
    display: flex;
    justify-content: center;
} */

/* .muyPronto {
    color: white;
    font-style: italic;
    display: flex;
    justify-content: center;
}

.muyPronto h2 {

    text-shadow: 4px 4px 2px rgba(255,255,255,0.6);
    margin-top: 20px;
    margin-bottom: 10px;
    animation-name: muyPronto;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-direction: initial;
    animation-delay: 1s;

} */

/* @keyframes muyPronto {
   from {
        margin-left: 100%;
        width: 200%;
   }

   to { 
        margin-left: 40%;
        width: 100%;
   }
}

.footerPedidoOnline {

    margin-top: 50px;
} */

/*-----------contacto-------------------*/

/* .Reserva {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    color: white;
}

.text-color {
    color: white;
}


.footerContacto nav ul {
    margin-top: 90px;
    display: flex;
    justify-content: space-around;
} */

/*--------------GALERIA--------------*/

/* .galeriaTitulo{
    margin: 20px;
}

.parent div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.parent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 250px;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
} */


/*------------------footer-----------------------------*/
/* 
footer {
    background-color: black;
}

footer nav ul {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.aniRedesSociales{
    transition-duration: 1s;
      
}

.aniRedesSociales:hover {
        transform: rotatex(360deg);
}

footer nav ul li img {
    width: 60px;
    height: 60px;
}


.body {
    width: 100%;
    height: auto;
} */

/*!------- MEDIA QUERY-----*/

@media screen and (max-width:950px) and (min-width:481px) {

    
    .maxpoke {
        height: 80vh;
    }

    .maxpoke h1 {
        font-size: 100px;
        max-width: 95%;
    }

    .maxpoke a {
        font-size: 30px;
        margin-top: 120px;
    }

    .nosotros {
        font-size: 17px;
        margin-top: 45px;
        margin-bottom: 45px;
    }

    .GaleriaPrincipal {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        grid-row-gap: 15px;
        place-items: center;
        margin-bottom: 20px;
    }

    .GaleriaPrincipal div img {
        width: 350px;
        object-fit: cover;

    }

    .parent {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        grid-row-gap: 15px;
        place-items: center;
        margin-bottom: 20px;
    }

    .parent div img {
        width: 350px;
        object-fit: cover;

    }

    .grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 10px;
    }



 /*   .whatsapp {
        position: fixed;
    }*/
    .video {
        width: 800px ;
        height: 400px;
        margin-left: 50px;
    }

    footer nav ul li img {
        width: 50px;
        height: 50px;
    }

} */


/*!------- MEDIA QUERY-----*/

@media screen and (max-width:480px) and (min-width:351px) {

    .maxpoke {
        height: 70vh;
    }

    .maxpoke h1 {
        font-size: 70px;
        max-width: 95%;
    }

    .maxpoke a {
        font-size: 25px;
        margin-top: 100px;
    }

    .nosotros {
        font-size: 16px;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .GaleriaPrincipal div img {
        width: 280px;
        object-fit: cover;
    }

    .GaleriaPrincipal {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        grid-row-gap: 15px;
        place-items: center;
        margin-bottom: 20px;
    }

    .parent {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        grid-row-gap: 15px;
        place-items: center;
        margin-bottom: 20px;
    }

    .parent div img {
        width: 280px;
        object-fit: cover;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 10px;  
    }

    footer nav ul li img {
        width: 40px;
        height: 40px;
    }

}




/*!------- MEDIA QUERY-----*/

@media screen and (max-width:350px) {

    .maxpoke {
        height: 57vh;
    }

    .maxpoke h1 {
        font-size: 50px;
        max-width: 95%;
    }

    .maxpoke a {
        font-size: 20px;
        margin-top: 100px;
    }

    .nosotros {
        font-size: 14px;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .productosdestacados div {

        width: 150px;
        height: 300px;
    }

    .productosdestacados div img {
        width: 145px;
        height: 145px;
    }

    .productosdestacados h3 {

       font-size: 15px;
       margin-bottom: 30px;
       margin-top: 20px;
    }

    .galeriaTitulo h3 {
        display: none;
    }

    .GaleriaPrincipal {
        display: none;
    }

    .parent {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        grid-row-gap: 15px;
        place-items: center;
        margin-bottom: 20px;
    }

    .parent div img {
        width: 204px;
        object-fit: cover;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 10px;  
    }

    .whatsapp {
        position: fixed;
    }

    /*footer nav ul li img {
        width: 30px;
        height: 30px;
    }*/
}

