//MEDIA QUERY

@media screen and (max-width:950px) and (min-width:481px) {
    .maxpoke{
        height: 80vh;
        h1{
            font-size: 100px;
            max-width: 95%; 
        }
        a{
            font-size: 30px;
            margin-top: 120px;  
        }
    }

    .nosotros {
        font-size: 17px;
        margin-top: 45px;
        margin-bottom: 45px;
    }

    .GaleriaPrincipal{
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        grid-row-gap: 15px;
        place-items: center;
                
        div{
            margin-bottom: 20px;
            img{
                width: 350px;
                object-fit: cover; 
            }
        }
    }
    .parent{
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        grid-row-gap: 15px;
        place-items: center;
        margin-bottom: 20px;
            img{
                width: 350px;
                object-fit: cover; 
            }
        }
}

@media screen and (max-width:480px) and (min-width:351px) {
    .maxpoke{
        height: 70vh;
        h1{
            font-size: 70px;
            max-width: 95%;
        }
        a{
            font-size: 25px;
            margin-top: 100px;
        }
    }

    .GaleriaPrincipal{
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        grid-row-gap: 15px;
        place-items: center;
        margin-bottom: 20px;       
        div{
            img{
                width: 280px;
                object-fit: cover;
            }
        }
    }
    .parent{

        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        grid-row-gap: 15px;
        place-items: center;
        margin-bottom: 20px;
        div{
            img{
                width: 280px;
                 object-fit: cover;
            }
        }
    }
}

@media screen and (max-width:350px) {
    .maxpoke{
        height: 57vh;
        h1{
            font-size: 50px;
            max-width: 95%;
        }
        a{
            font-size: 20px;
            margin-top: 100px;
        }
    }

    .productosdestacados{
        div{
            width: 150px;
            height: 300px;
            h3{
                font-size: 15px;
                margin-bottom: 30px;
                margin-top: 20px;                
            }
            img{
                width: 145px;
                height: 145px;              
            }
        }
    }
    .parent{
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        grid-row-gap: 15px;
        place-items: center;
        margin-bottom: 20px;
        div{
            img{
                width: 204px;
                object-fit: cover;  
            }
        }
    }
}
